[defaults]
inventory = inventory.ini
remote_user = manh
# Trỏ đến file chứa mật khẩu Vault (đã thêm vào .gitignore)
vault_password_file = .vault_pass 
# Tắt kiểm tra SSH key lần đầu để chạy mượt hơn
host_key_checking = False 
# Gom nhóm các Role
roles_path = ./roles 

[privilege_escalation]
become = True
become_method = sudo
become_user = root
